.button {
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    border: 1px solid #BD93F9;
}